@model Skill

<h2>Create a New Skill</h2>

@using (Html.BeginForm("InsertSkillToDatabase", "Skill", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />

    <div class="form-group">
        <label for="">Select a Game:</label>
        <select class="form-control" name="Game" value="">
            @foreach (var game in Model.Games)
            {
                <option value="@game.Name">@game.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="">Match game with appropriate game ID:</label>
        <select class="form-control" name="GameID" value="">
            @foreach (var game in Model.Games)
            {
                <option value="@game.GameID">@game.GameID (@game.Name)</option>
            }
        </select>
    </div>

    <label asp-for="Name" class="control-label">Skill Name:</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Type" class="control-label">Skill Type:</label>
    <input type="text" name="Type" class="form-control" value="" />

    <label asp-for="InGameDescription" class="control-label">Game's Description:</label>
    <input type="text" name="InGameDescription" class="form-control" value="" />

    <label asp-for="AdditionalDescription" class="control-label">Additional Description:</label>
    <input type="text" name="AdditionalDescription" class="form-control" value="" />

    <label asp-for="Notes" class="control-label">Notes:</label>
    <input type="text" name="Notes" class="form-control" value="" />

    <label asp-for="YTVideoName" class="control-label">Youtube Video Name:</label>
    <input type="text" name="YTVideoName" class="form-control" value="" />

    <label asp-for="YTCode" class="control-label">Youtube Code:</label>
    <input type="text" name="YTCode" class="form-control" value="" />

    <label asp-for="TSStart" class="control-label">Timestamp Start:</label>
    <input type="text" name="TSStart" class="form-control" value="" />

    <label asp-for="TSEnd" class="control-label">Timestamp End:</label>
    <input type="text" name="TSEnd" class="form-control" value="" />


    <input type="submit" value="Log skill!" class="btn btn-primary" />
}

