@model Skill

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateSkillToDatabase", "Skill", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Game" class="control-label">Game Name:</label>
    <input type="text" name="Name" class="form-control" value="@Model.Game" />

    <label asp-for="Name" class="control-label">Skill Name:</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="Type" class="control-label">Skill Type:</label>
    <input type="text" name="Name" class="form-control" value="@Model.Type" />

    <label asp-for="InGameDescription" class="control-label">Game's Description:</label>
    <input type="text" name="Name" class="form-control" value="@Model.InGameDescription" />

    <label asp-for="AdditionalDescription" class="control-label">Additional Description:</label>
    <input type="text" name="Name" class="form-control" value="@Model.AdditionalDescription" />

    <label asp-for="Notes" class="control-label">Notes:</label>
    <input type="text" name="Name" class="form-control" value="@Model.Notes" />

    <label asp-for="YTVideoName" class="control-label">Youtube Video Name:</label>
    <input type="text" name="Name" class="form-control" value="@Model.YTVideoName" />

    <label asp-for="YTCode" class="control-label">Youtube Code:</label>
    <input type="text" name="Name" class="form-control" value="@Model.YTCode" />

    <label asp-for="TSStart" class="control-label">Timestamp start:</label>
    <input type="text" name="Name" class="form-control" value="@Model.TSStart" />

    <label asp-for="TSEnd" class="control-label">Timestamp End:</label>
    <input type="text" name="Name" class="form-control" value="@Model.TSEnd" />

    <input type="submit" value="Update skill" class="btn btn-primary" />
}