@model Skill

<h2>Skill Info</h2>

<h5>Skill Name:</h5>
<p>@Model.Name</p>
<h5>Game Name:</h5>
<p>@Model.Game</p>
<h5>Skill Description:</h5>
<p>@Model.InGameDescription</p>

@Html.Raw(Model.YTCode)

<div style="display: block">
    <a href="/Skill/UpdateSkill/@Model.ID">Update this skill!</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteSkill", "Skill", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this skill" />
    }
</div>
